<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ticari_otomasyon.Properties.Settings.TicariOtomasyonSonConnectionString"
            connectionString="Data Source=DESKTOP-6S2AJ9C\SQLEXPRESS;Initial Catalog=TicariOtomasyonSon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ticari_otomasyon.Properties.Settings.TicariOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-6S2AJ9C\SQLEXPRESS;Initial Catalog=TicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>